@model MVCInBuiltFeatures.Models.Medicine

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Medicine</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.MedName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedName)
                @Html.ValidationMessageFor(model => model.MedName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedTrade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedTrade)
                @Html.ValidationMessageFor(model => model.MedTrade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedType)
                @Html.ValidationMessageFor(model => model.MedType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedGroup)
                @Html.ValidationMessageFor(model => model.MedGroup)
            </div>
        </div>


       

        <div class="form-group">
            @Html.LabelFor(model => model.Rem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rem)
                @Html.ValidationMessageFor(model => model.Rem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unit)
                @Html.ValidationMessageFor(model => model.Unit)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
