@model IEnumerable<MVCInBuiltFeatures.Models.Medicine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedTrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrouList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrouCon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedTrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrouList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrouCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
