@model IEnumerable<MVCInBuiltFeatures.Models.Medicine>
@using MVCInBuiltFeatures.Controllers
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXP)
        </th>
        <th></th>
    </tr>
@foreach (Item item in (List<Item>)Session["list"]) 
{
    <tr>
        <td>@item.Med.MedName</td>
        <td>@item.Med.Rem</td>
        <td>@item.Med.Size</td>
        <td>@item.Med.Unit</td>
        <td>@item.Med.Description</td>
        <td>@item.Med.EXP</td>
    </tr>
}
</table>